
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  html, body {
    font-family: 'Century Gothic', sans-serif;
    background: rgb(6,36,0);
    background: linear-gradient(90deg, rgb(39, 43, 43) 0%, rgba(88,9,121,1) 39%, rgba(0,212,255,1) 100%);
    display: flex;
    min-height: 100%;
    min-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  #padre{
    display: flex;
    align-items: center;
    gap:20px;
  }
 
  #logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  h3{
    color: #ffff;
  }
  #h31{
    font-weight: lighter;
  }


header {
	padding-top: 20px;
	padding-bottom: 50px;
}

#todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}



#menu{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 247, 255, 0.23);
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
}

.btn{
   box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #246998 inset, 0 0 10px 4px #1d577e;
}

  a{
      color: white;
      text-decoration:none;

  }
  #busca{
   display: flex;
   gap: 0;

  }
  #busc{
    display: flex;
    height: 30px;
    width: 100%;
  }
  #lupa{
    width: 15px;
    height: 10px;
  }

  #fot{
    height: 200px;
    width: 130px;
    border-radius: 12px;
   
  }
  #tam_le{
   padding: 30px;
  }
  #pep{
    margin-top: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: aliceblue;
    gap: 10px;
  }

  footer{
    height: 20px;
    color: rgb(0, 0, 0);
    background-color: #3498db5e;
  }